# Build klasörleri
/target/
build/
!.mvn/wrapper/maven-wrapper.jar

# IDE klasörleri ve ayarları
.idea/
*.iml
*.ipr
*.iws
.vscode/
.nb-gradle/
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.settings/
/.springBeans
.sts4-cache

# Eclipse & STS
.classpath
.project
.factorypath
.apt_generated

# Sistem dosyaları
.DS_Store
Thumbs.db

# Log ve çıktı dosyaları
*.log
/test-output/

# Ortam değişkeni ve şifre içeren config
.env
application.properties
application.yml

# Veritabanı yedekleri
#*.sql
*.dump
